*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'FZZhongDengXian-Z07S';
    font-size: 12px;  */
    /* font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; */
    font: "FZZhongDengXian-Z06S",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
    /* font-weight: bold; */
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #38414F;
}

.sidebar ul {
    margin-top: 50px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    color: #EBF6F4;
    border-bottom: 0.01px solid #EBF6F4;
    font-weight: 100;
    cursor: pointer;
    align-items: center;
    line-height: 50px;
    padding: 10px 20px
} 

.sidebar ul li:hover{
    background-color: #2E3541;
} 

.sidebar ul li .clicked{
    background-color: red;

} 

.sidebar ul li .list_content{
    width: 100%;
    font-size: 16px;
}

.list_content .more_btn{
    float: right;
    font-size: 24px;
}

.header{
    position: fixed;
    top: 0;
    left: 300px;
    padding: 10px 20px;
}

.homepage{
    position: fixed;
    left: 300px;
    top: 40px;
    background-color: #F1F3F9;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.homepage .toolbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width:  40%;
}

.homepage .toolbar .btn_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.homepage .toolbar .func_btn{
    width: 55px;
    height: 30px;
    padding: 5px 10px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.homepage table{
    width: 80%;
    margin-top: 20px;

}

.homepage table tr{
    border-bottom: 1px solid grey;
}

.sidebar ul ul li a{
    text-decoration: none;
    color: white;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 500px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    width: 500px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #72C140;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #DF5651;
  }

  .form-container .next {
    background-color: #448EF7;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
