*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'FZZhongDengXian-Z07S';
    font-size: 12px;  */
    /* font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; */
    font: 12px/1.5 "FZZhongDengXian-Z06S",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
    /* font-weight: bold; */
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: rgb(50, 52, 57);
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    margin: 20px 30px;
    color: rgb(118, 119, 122);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 40px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: rgb(118, 119, 122);
    left: 90%;
    top:6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    
}

.sidebar ul{
    margin-top: 50px;
    margin-left: 30px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    
}

.sidebar ul li a{
    color: rgb(118, 119, 122);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
     
}

.sidebar ul li a:hover{
    color: #fff;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;  
}


.sidebar .details_container{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 20%;
}

.sidebar .details_container .details{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.details_container .details a{
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
}

.details_container .details i{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}

.community_content{
    background: rgb(37, 38, 43);
    margin-top: 10%;
    margin-left: 15%;
    border-radius: 12px;
    height: 200px;
    width: 70%;
    padding-top: 10px;
    padding-left: 20px;
}

.community_content .icon_container{
    height: 40px;
    width: 40px;
    background-color:red;
    border-radius: 50%;
    background: rgb(176, 198, 199);
    align-items: center;
    
}

.community_content .icon_container i{
    color: white;
    margin-left: 3px;
    font-size: 35px;
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100%-300px);
    left: 300px;
    padding: 20px;
    background: rgb(246, 246, 246);
    margin-top: -20px;
}

.home_content .ads_content{
    height: 150px;
    width: 92%;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.ads_content .ads{
    width: 100%;
    height: 100%;
    display: contents;
}

.ads_content .ads img{
    width: 100%;
}


.search_content{
    position: absolute;
    width: 89%;
    left: 50px;
    top: 200px;

}

.search_content input{
    position:absolute;
    width: 100%;
    height: 35px;
    left: 0;
    top: 50px;
    /* border-radius: 12px; */
    outline: none;
    padding-left: 15px;
    border: none;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.search_content .bx-search-alt{
    position: absolute;
    z-index: 99;
    font-size: 22px;
    right: 8px;
    top: 54px;
    color: black;
}

.module_content{
    position:absolute;
    top: 240px;
}

.case_content{
    position:absolute;
    top: 280px;
}

 .module_content .case_name{
    font-size: 20px;
    margin-left: 50px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right,rgb(246, 246, 246),rgb(228, 228, 228), rgb(246, 246, 246));
}

.module_sheet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    margin-top: 30px;
    margin-left: 50px;
}

.module_sheet .module{
    background: #fff;
    width: 150px;
    height: 400px;
    /* box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1); */
}

.module_sheet .module:hover{
    box-shadow: -2px -2px 15px rgba(60, 60, 60, 0.3), 2px 2px 15px rgba(60, 60, 60, 0.19);
    /* color: red; */
}

.module .module_description{
    border-bottom: 1px dashed grey;
    height: 150px;
}

.module .module_description .module_name{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.module .module_description .description{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.case_content .module_sheet .mycase{
    background: #fff;
    width: 150px;
    height: 200px;
    margin-top: 20px;
}

.case_content .module_sheet .mycase:hover{
    box-shadow: -2px -2px 15px rgba(60, 60, 60, 0.3), 2px 2px 15px rgba(60, 60, 60, 0.19);
    /* color: red; */
}

a{
    text-decoration: none;
}



.mycase .case_description{
    position: relative;
    border-bottom: 1px dashed grey;
    height: 160px;
    padding: 10px;
}

.case_description  .case_number{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-weight: 700;
    margin-top: 10px;
    color: black;
}

.case_description .name_textarea{
    width: 100%;
    resize: none;
    padding-left: 10px;
    /* font-weight: 700; */
    border: none;
}

.case_description .info_textarea{
    width: 100%;
    height: 60px;
    resize: none;
    padding-left: 10px;
    color: rgb(118, 119, 122);
    /* font-weight: 700; */
    border: none;
}

.case_description .case_save{
    position: absolute;
    border: none;
    width: 60px;
    background: rgb(176, 198, 199);
    color: white;
    border-radius: 5px;
    margin-left: 50%;
    bottom: 10px;
    left: 0;
}

.case_description .case_save:hover{
    background: rgb(230, 206, 177);
}

.case_content .module_sheet .newcase{
    background: #fff;
    width: 150px;
    height: 200px;
    margin-top: 20px;
}

.case_content .module_sheet .newcase:hover{
    box-shadow: -2px -2px 15px rgba(60, 60, 60, 0.3), 2px 2px 15px rgba(60, 60, 60, 0.19);
}

.newcase .new_case_description{   
    height: 200px;
}

.newcase .new_case_description .new_case{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


.new_case i{
    margin-top: 30px;
    font-size: 60px;
    /* -webkit-text-stroke: 0.1px; */
    color: rgb(230, 101, 96);
}

.newcase:hover .new_case_description .new_case i{
    color: rgb(225, 67, 63);
}

.new_case_description .new_case_title{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: black;
    font-size: 18px;
}

.newcase:hover .new_case_description .new_case_title{
    color: rgb(225, 67, 63);
}

.mycase .case_description .case_des{
    padding-left: 10px;
    color: rgb(118, 119, 122);
}

.mycase .case_function{
    margin-left: 50%;
    width: 50%;
}

.case_function i{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    color: rgb(225, 67, 63);
}

/* .case_function:hover i{
    opacity: 1;
} */

.case_function i:hover{
    background: rgb(228, 228, 228);
    border-radius: 5px;
}

.phase_list{
    padding: 10px;
}

.phase_list ul{
    margin-left: 10px;
}

.phase_list ul li{
    margin-top: 10px;
}

.phase_list ul li a{
    font-weight: 400;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: grey;
}




/* .sidebar ul li a{
    color: rgb(118, 119, 122);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
} */
