*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FZZhongDengXian-Z07S';
    /* font-weight: 110; */
    font-size: 12px;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: rgb(50, 52, 57);
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    margin: 20px 30px;
    color: rgb(118, 119, 122);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 40px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: rgb(118, 119, 122);
    left: 90%;
    top:6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 50px;
    margin-left: 50px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    
}

.sidebar ul li a{
    color: rgb(118, 119, 122);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover{
    color: #fff;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
}

.sidebar .details_container{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 20%;
}

.sidebar .details_container .details{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.details_container .details a{
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
}

.details_container .details i{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}

.community_content{
    background: rgb(37, 38, 43);
    margin-top: 15%;
    margin-left: 10%;
    border-radius: 12px;
    height: 200px;
    width: 70%;
    padding-top: 10px;
    padding-left: 20px;
}

.community_content .icon_container{
    height: 40px;
    width: 40px;
    background-color:red;
    border-radius: 50%;
    background: rgb(176, 198, 199);
    align-items: center;
    
}

.community_content .icon_container i{
    color: white;
    margin-left: 3px;
    font-size: 35px;
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100%-300px);
    left: 300px;
    padding: 20px;
    background: rgb(246, 246, 246);
    margin-top: -20px;
}

.home_content .ads_content{
    height: 150px;
    width: 92%;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.ads_content .ads{
    width: 100%;
    height: 100%;
    display: contents;
}

.ads_content .ads img{
    width: 100%;
}


.search_content{
    position: absolute;
    width: 89%;
    left: 50px;
    top: 200px;

}

.search_content input{
    position:absolute;
    width: 100%;
    height: 35px;
    left: 0;
    top: 50px;
    /* border-radius: 12px; */
    outline: none;
    padding-left: 10px;
    border: none;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.search_content .bx-search-alt{
    position: absolute;
    z-index: 99;
    font-size: 22px;
    right: 8px;
    top: 53px;
    color: #000;
}

.case_content{
    position:absolute;
    top: 320px;

}

.case_content .case_name{
    margin-left: 50px;
    font-weight: 500;
}

.case_content .module_sheet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    margin-top: 30px;
    margin-left: 50px;
}

.case_content .module_sheet .module{
    background: #fff;
    width: 150px;
    height: 300px;
    /* box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1); */
}

.case_content .module_sheet .module:hover{
    box-shadow: -2px -2px 15px rgba(60, 60, 60, 0.3), 2px 2px 15px rgba(60, 60, 60, 0.19);
    /* color: red; */
}

.module .module_description{
    border-bottom: 1px dashed grey;
    height: 150px;
}

.module .module_description .module_name{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.module .module_description .description{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.phase_list{
    padding: 10px;
}

.phase_list ul{
    list-style: none;
}

.phase_list ul li{
    margin-top: 10px;
}

.phase_list ul li a{
    font-weight: 400;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: rgb(176, 198, 199);
}


/* .sidebar ul li a{
    color: rgb(118, 119, 122);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
} */
