*{
    font-family: cursive;
}
.tool_bar{
    right:0;
    top: 0;
    position:fixed;
    height: 100%;
    width: 210px;
    background-color: white;
    /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3), 0 20px 50px 0 rgba(95, 69, 69, 0.19); */
}

.guide{
    margin-right: 10px;
    margin-left: 10px;
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.title{
    margin: 20px 30px;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.title i{
    font-size: 20px;
    margin-right: 5px;
}

.title .title_name{
    font-size: 14px;
    font-weight: 400;
}

.guide ul{
    margin-top: 50px;
    list-style: none;
    position: relative;
    margin-left: -38px;
    height: 450px;
}

.guide ul li{
    position: relative;
    list-style: none;
    line-height: 30px;
}

ul li .guide_btn{   
    width: 88%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
ul li .guide_btn:hover{
    background-color: rgb(228, 228, 228);
}

.guide_btn a{
    text-decoration: none;
    color: black;
}

.guide_btn i{
    font-weight: 100px;
    font-size: 20px;
}

ul li .function_btn{
    width: 98%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

ul li .function_btn:hover{
    background-color: rgb(228, 228, 228);
}

.function_btn a{
    text-decoration: none;
    color: #000;
}

.phase_container{
    /* background-color: red; */
    width: 83%;
    margin-top: 5px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
}

.phase_container:hover{
    background-color: rgb(228, 228, 228);
}


.guide ul li .tooltip{
    position: absolute;
    top:-10px;
    left: 214px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.guide ul li .tooltip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.guide ul li:hover .tooltip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    top: -10px;
    left: 214px;
    opacity: 1;
}

@keyframes pop {
    from{
        background-color: transparent;
    }
    to{
        background-color: rgb(26,39,60);
    }
}


.phase_container{
    position: relative;
    list-style: none;
    line-height: 30px;
}

.phases .phase_container .phasetip{
    position: absolute;
    left: 214px;
    top: -10px;
    /* transform: translateX(-50%); */
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.phases .phase_container .phasetip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.phases .phase_container:hover .phasetip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    left: 214px;
    top: -10px;
    opacity: 1;
}

.phases a{
    text-decoration: none;
    color: black;
}

.home_content{
    margin-left: 50px;
    margin-top: 20px;
    top: 0;
    left: 13%;
    position: absolute;
    background-color: white;
    overflow: scroll;
    height: 650px;
    border-radius: 2px;
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    padding-top: 30px;
    padding-bottom: 50px;
    width: 68%;
    z-index: 1;
}

.home_content .ads_container{
    height: 120px;
    width: 92%;
    margin-left: 30px;
    margin-top: 10px;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.ads_container .ads img{
    width: 100%;
}

.home_content .edit_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.edit_container .edit_content{  
    padding-left: 15%;
    width: 80%;
}

.edit_content .edit_title{
    width: 88%;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.edit_content .output_container{
    font-size: 14px;
    width: 88%;
}

.edit_content .standard_container{
    font-size: 14px;
    width: 88%;
}

.output_container .output_title{
    padding: 10px;
}

.output_container .output_content{
        box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
        padding: 10px;    
}

.output_content textarea{
    width: 100%;
    resize: none;
    height: 100px;
    border: none;
    font-size: 14px;
}

.output_content .output_savebtn{

    border: none;
    background: rgb(176, 198, 199);
    color: white;
    border-radius: 5px;
    margin-left: 80%;
}

.output_content .output_savebtn:hover{
    background: rgb(230, 206, 177);
}

.standard_container .standard_content{
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    padding: 10px;
    margin-top: 20px;
}


.more_content details{
    padding: 2px;
    height: auto;
    overflow: hidden;
    transition: max-height ease-in-out;
    transition-duration: var(--duration, 0.1s);
    
}

details summary {
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

details summary p{
    font-size: 14px;
    padding: 2px;
}

.dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}