body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

*{
    font-family: 14px/1.5 "FZZhongDengXian-Z06S",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
}

.home{
    position: relative;
    width: 100%;
    height: 100%;
}

.home .background_pic{
    position: fixed;
    left: -10px;
    top: 5%;
    height: 70%;
}

.home .home_content{
    position: fixed;
    top: 10%;
    left: 22%;
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.home_content .right{
    padding: 20px;
    margin-top: 12%;
    width: 600px;
    height: 400px;
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    background: white;
    border-radius: 25px;
}

.flash_container 


.home_content .left{
    margin-top: 20%;
}

.home_content .left img{
    width: 20%;
}

.left .page_title{
    margin-top: 50px;
    cursor: default;
}

.left .page_title .title1{
    font-size: 20px;
    font-weight: bold;
}

.left .page_title .title2{
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
}

.left .subtitle{
    margin-top: 20px;
    cursor: default;
}


.left .login_btn_container{
    margin:30px 50px;
    width: 200px;
    height: 50px;
    background: #4aa784;
    border-radius: 5px;
    text-align: center;
    line-height: 48px
    /* align-items: center; */
    
}

.left .login_btn_container a{
    text-decoration: none;
    color: white;
}

