body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

*{
    font-family: 14px/1.5 "FZZhongDengXian-Z06S",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: black;
}



.tool_bar{
    right:0;
    top: 0;
    position:fixed;
    height: 100%;
    width: 13%;
    background-color: white;
    /* box-shadow: 0 20px 40px 0 rgba(233, 233, 233, 0.3), 0 20px 40px 0 rgba(233, 233, 233, 0.4); */
    overflow: scroll;
}

.tool_bar::-webkit-scrollbar {
    display: none;
}

.tool_bar .toolbar_title{
    margin: 20px 20px;
    text-align: center;
    align-items: center;
    line-height: 30px;
    cursor: default;
    /* box-shadow: 0 20px 40px 0 rgba(233, 233, 233, 0.3), 0 20px 40px 0 rgba(233, 233, 233, 0.4); */
}

.toolbar_title i{
    font-size: 20px;
    
}

.toolbar_title span{
    font-size: 14px;
}

.tool_bar .history_result{
    margin-left: 20px;
    margin-right: 10px;
    position: absolute;
    width: 80%;
    height: 70%;
    /* padding: 10px; */
    border-top: 1px dashed rgb(190, 190, 190);
}

.history_result .history{
    position: relative;
    margin-top: 15px;
    width: 90%;
    padding: 10px;
    font-size: 14px;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
    /* border-radius: 10px; */
    /* box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1); */
}

.history details > summary {
    list-style-type: none;
    cursor: pointer;
    color: rgb(170, 170, 170);
    margin-left: 48%;
}

.history details > summary::-webkit-details-marker {
    display: none;
}

.history details > summary::before {
    content: '︾';
}

.history details[open] > summary::before {
    content: '︽';
}

/* .history_result .history:hover{
    background: rgb(240, 242, 252);
} */

.history .history_content{
    width: 100%;
    height: 26px;
    text-align: center;
    font-weight: bold;
}

.history .history_content a{
    text-decoration: none;
    color: black;
}


.incomplete_content .incomplete_item{
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.incomplete_content .incomplete_item:hover{
    background: rgb(240, 242, 252);
}

details .complete_item{
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

details .complete_item:hover{
    background: rgb(240, 242, 252);
}


.history .myProgress {
    /* border-radius: 20px; */
    height: 3px;
    width: 100%;
}

.history .myBar {
    /* border-radius: 20px; */
    /* width: 90%; */
    height: 3px;
    /* background-color: rgb(34, 133, 179); */
}

.user_img{
    margin-top: 15px;
    margin-left: 80px;
}

.user_info{
    margin-left: 70px;
}

.infoCon p{
    cursor: default;
}

.infoCon p i{
    cursor: pointer;
}

.save_btn{
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    border: none;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.infoCon .save_btn img{
    width: 12px;
}

.infoCon .save_btn:hover{
    background: rgb(230, 206, 177);
}

.textarea{
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
    border-radius: 3px;
    box-shadow:-4px -4px 15px rgba(100, 100, 100, 0.3), 4px 4px 15px rgba(100, 100, 100, 0.19);
}

.user_input{
    padding: 5px 10px 5px 10px;
    resize: none;
    outline: none;
    overflow: auto;
    width: 360px;
    height: 50px;
    border: hidden;
    border-radius: 3px;
    vertical-align: top;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px
}

.input_container{
    height: 110px;
    box-shadow:-4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
}



.module_list{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 5px;
}

.case_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item{
    margin-left: 48px;
}
.infoCon form{
    font-size: 10px;
}

.case_list{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.case{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.case:hover{
    background-color: whitesmoke;
    transition: 500ms;
}

.case::after{
    background-color: lightslategrey;
}

.guide{
    margin-right: 10px;
    margin-left: 10px;
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.guide .title_content {
    margin-top: 20px;
    height: 10%;
}

.guide .modules_container{
    margin-top: 40px;
    height:52%;
}

.title{
    width: 88%;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.title:hover{
    background-color: rgb(228, 228, 228);
}

.title a{
    width: 88%;
    text-decoration: none;
    color: black;
}

.title .title_name{
    font-size: 14px;
    font-weight: 400;
}


.title i{
    font-size: 20px;
    margin-right: 5px;
}

.guide ul{
    list-style: none;
    position: relative;
    margin-left: -38px;
    height: 48%;
    font-size: 14px;
}

.guide ul li{
    position: relative;
    list-style: none;
    line-height: 20px;
    cursor: pointer;
}

ul li .guide_btn{   
    width: 88%;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

ul li .guide_btn:hover{
    background-color: rgb(228, 228, 228);
}

.guide_btn a{
    text-decoration: none;
    color: black;
}

.guide_btn i{
    font-weight: 100px;
    font-size: 20px;
}

.guide .page_des{
    position: absolute;
    border-top: 1px dashed rgb(190, 190, 190);
    width: 95%;
    height: calc(42%-100px);
    font-size: 12px;
    bottom: 20px;
    padding-left: 10px;
    cursor: default;
}

ul li .function_btn{
    width: 98%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

ul li .function_btn:hover{
    background-color: rgb(228, 228, 228);
}


.function_btn a{
    text-decoration: none;
    color: #000;
}

.phase_container{
    /* background-color: red; */
    width: 78%;
    margin-top: 5px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
}

.phase_container:hover{
    background-color: rgb(228, 228, 228);
}

.picked{
    background-color: rgb(228, 228, 228);
}

.phases a{
    text-decoration: none;
    color: black;
}


.guide ul li .tooltip{
    position: absolute;
    top:-10px;
    left: 224px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.guide ul li .tooltip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.guide ul li:hover .tooltip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    top: -10px;
    left: 224px;
    opacity: 1;
}

@keyframes pop {
    from{
        background-color: transparent;
    }
    to{
        background-color: rgb(26,39,60);
    }
}


.phase_container{
    position: relative;
    list-style: none;
    line-height: 30px;
}

.phases .phase_container .phasetip{
    position: absolute;
    left: 224px;
    top: -10px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.phases .phase_container .phasetip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.phases .phase_container:hover .phasetip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    left: 224px;
    top: -10px;
    opacity: 1;
}


.home_content{
    top: 18%;
    left: 17%;
    position: absolute;
    background-color: white;
    overflow: scroll;
    height: 67%;
    border-radius: 2px;
    box-shadow: -4px -4px 15px rgba(50, 50, 50, 0.1), 4px 4px 15px rgba(50, 50, 50, 0.1);
    padding-top: 30px;
    padding-bottom: 50px;
    column-gap: 10px;
    width: 68%;
    z-index: 1;
}

 .ads_content{
    position: absolute;
    top: 20px;
    left: 17%;
    width: 68%;
    height: 130px;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.advImg{
    margin-top: 20px;
    margin-left: 20px;
    width: 800px;
}

.home_content strong{
    cursor: default;
}

.home_content::-webkit-scrollbar {
    display: none;
}


.sheet{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50  px;
    height: 100%;
    overflow: auto;
    position: relative;
}

.sheet::-webkit-scrollbar {
    display: none;
}

.information{
    margin-left: 20px;
    width: 400px;
    margin-bottom: 50px;
}
.infoCon{
    padding:10px;
}

.remind_container{
    position: absolute;
    top: 50px;
    left: 500px;
}

.remind{
    font-size: 13px;
    box-shadow: -4px -4px 15px rgba(150, 150, 150, 0.1), 4px 4px 15px rgba(150, 150, 150, 0.1);
    border-radius: 3px;
    width: 400px;
    background-color: white;
    margin-bottom: 10px;
    padding: 1px 1px;
    padding-left: 10px;
    padding-right: 10px;   
    position: relative;
}
.remind .pointer_title{
    cursor: pointer;
    font-weight: 400;
}

.remind p{
    cursor: default;
}

.remind details{
    cursor: pointer;
}

.remind .mini_btn_container{
    border-radius: 50%;
    position: absolute;
    padding-left: 3px;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

.remind .mini_btn_container:hover{
    background: #f0f2fc;
}

.clicked{
    animation: .3s linear flip 1;
}

@keyframes flip{
    from{
        transform: scaleY(0);
    }to{
        transform: scaleY(1);
    }
}

.unclicked{
    animation: .3s linear wrap 1;
}

@keyframes wrap{
    0%{
        transform: scaleY(1);
    } 50% {
        tansform: scaleY(0.5)
    } 100%{
        transform: scale(1);
    }
}

#myProgress {
    width: 86%;
    background-color: rgb(250, 250, 250);
    margin-left: 2%;
    margin-bottom: 2%;
}

#myBar {
    width: 10%;
    height: 15px;
    background-color: rgb(34, 133, 179);
}

.remind details {
    padding: 2px;
    height: auto;
    overflow: hidden;
    transition: max-height ease-in-out;
    transition-duration: var(--duration, 0.1s);
}


p{
    padding-left: 2px;
}

.dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}

/* .single_choice{
    font-size: 12px;
} */

.check_container {
    
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}
  
.check_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.check_container input:checked ~ .checkmark {
    background-color: rgb(74,110,224);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.check_container input:checked ~ .checkmark:after {
    display: block;
}


.check_container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}



.opt{
    border-radius: 5px;
    border: none;
    background: rgb(240, 242, 252);
    color: rgb(74, 110, 224);
    height: 100%;
    cursor: pointer;
}

.checked{
      background: rgb(74,110,224);
      color: white;
      height: 100%;
      transition: all 0.3s ease-in-out;
}

.report_btn_container{
    margin-top: 20px;
    margin-left: 65%;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.report_btn{
    width: 100%;
    border-bottom: 2px solid #E6CEB1;
    text-align: center;
    font-size: 14px;
}

.report_btn_container:hover{
    background: rgb(240, 242, 252);
}  

.store_btn_container{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.store_btn{
    width: 100%;
    border-bottom: 2px solid #B4C5C7;
    text-align: center;
    font-size: 14px;
}

.store_btn_container:hover{
    background: rgb(240, 242, 252);
} 

.sheet .report_container{
    margin: 50px 50px;
    border-top: 5px solid #e6ceb1;
    opacity: 0;
}

.report_container .report{
    margin: 20px 20px;
    font-size: 14px;
    width: 88%;
}

.report_container .report .report_title{
    margin-bottom: 10px;
    cursor: default;
}

.report_container .report .report_content{
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    padding: 10px;
    cursor: default;
}

.sheet .note_container{
    margin: 50px 50px;
    border-top: 5px solid #b0c6c7;
    opacity: 0;
}

.note_container .note{
    margin: 30px 20px;
    font-size: 14px;
    cursor: default;
    width: 88%;
    height: 60px;
}

.note_container .note_content{
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    padding: 10px;
    height: 80%;
}
