*{
    font-family: "FZZhongDengXian-Z06S",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
}


.tool_bar{
    right:0;
    top: 0;
    position:fixed;
    height: 100%;
    width: 13%;
    background-color: white;
    box-shadow: 0 20px 40px 0 rgba(233, 233, 233, 0.3), 0 20px 40px 0 rgba(233, 233, 233, 0.4);
}

.tool_bar .toolbar_title{
    margin: 20px 40px;
}

.tool_bar .history_result{
    margin-left: 20px;
    margin-right: 10px;
    position: absolute;
    width: 80%;
    height: 50%;
    /* padding: 10px; */
    border-top: 2px solid rgb(97, 116, 139);
    border-bottom:  2px solid rgb(97, 116, 139);
}

.history_result .history{
    position: relative;
    margin-top: 10px;
    width: 90%;
    height: 30px;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    /* box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1); */
}


.history_result .history:hover{
    background: rgb(240, 242, 252);
}

.history .history_content{
    width: 100%;
    height: 26px;
    text-align: center;
    font-weight: bold;
}

.history .history_content a{
    text-decoration: none;
    color: black;
}


.history .myProgress {
    /* border-radius: 20px; */
    height: 3px;
    width: 100%;
    background-color: white;
}

.history .myBar {
    /* border-radius: 20px; */
    width: 90%;
    height: 3px;
    background-color: rgb(34, 133, 179);
}

.guide{
    margin-right: 10px;
    margin-left: 10px;
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.guide .title_content {
    height: 10%;
}


.title{
    width: 88%;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.title:hover{
    background-color: rgb(228, 228, 228);
}

.title a{
    width: 88%;
    text-decoration: none;
    color: black;
}

.title .title_name{
    font-size: 14px;
    font-weight: 400;
}


.title i{
    font-size: 20px;
    margin-right: 5px;
}

.guide ul{
    margin-top: 50px;
    list-style: none;
    position: relative;
    margin-left: -38px;
    height: 48%;
    font-size: 14px;
}

.guide ul li{
    position: relative;
    list-style: none;
    line-height: 30px;
}

ul li .guide_btn{   
    width: 88%;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

ul li .guide_btn:hover{
    background-color: rgb(228, 228, 228);
}

.guide_btn a{
    text-decoration: none;
    color: black;
}

.guide_btn i{
    font-weight: 100px;
    font-size: 20px;
}

.guide .page_des{
    border-top: 1px dashed grey;
    width: 95%;
    height: calc(42%-100px);
    font-size: 12px;
    padding-left: 10px;
}

ul li .function_btn{
    width: 98%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

ul li .function_btn:hover{
    background-color: rgb(228, 228, 228);
}

.function_btn a{
    text-decoration: none;
    color: #000;
}

.phase_container{
    /* background-color: red; */
    width: 83%;
    margin-top: 5px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
}

.phase_container:hover{
    background-color: rgb(228, 228, 228);
}

.phases a{
    text-decoration: none;
    color: black;
}

.guide ul li .tooltip{
    position: absolute;
    top:-10px;
    left: 224px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.guide ul li .tooltip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.guide ul li:hover .tooltip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    top: -10px;
    left: 224px;
    opacity: 1;
}

@keyframes pop {
    from{
        background-color: transparent;
    }
    to{
        background-color: rgb(26,39,60);
    }
}


.phase_container{
    position: relative;
    list-style: none;
    line-height: 30px;
}

.phases .phase_container .phasetip{
    position: absolute;
    left: 214px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.phases .phase_container .phasetip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.phases .phase_container:hover .phasetip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    left: 214px;
    top: -10px;
    opacity: 1;
}

.home_content{
    margin-left: 50px;
    margin-top: 20px;
    top: 0;
    left: 13%;
    position: absolute;
    background-color: white;
    overflow: scroll;
    height: 650px;
    border-radius: 2px;
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    padding-top: 20px;
    padding-bottom: 50px;
    width: 68%;
    z-index: 1;
}

.home_content .content_description{

    margin: 10px 50px;
    font-size: 14px;
    color: rgb(97, 116, 139);
    margin-bottom: 30px;
}

.home_content .main_container{

    margin-left: 50px;
    border-left: 5px solid rgb(230, 206, 177);
}

.home_content .main_container .main_content{
    margin-left: 20px;
    margin-right: 30px;
}

.main_content .row_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 14px;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    height: 30px;
}

.main_content .row_content{
    text-align: center;
    align-items: center;
}

.colum_content input{
    width: 50px;
    border: none;
    outline: none;
    font-size: 14px;
}

.save_btn_container{
    margin-top: 20px;
    margin-left: 80%;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.save_btn{
    width: 100%;
    border-bottom: 2px solid rgb(253, 224, 129);
    text-align: center;
    font-size: 14px;
}

.save_btn_container:hover{
    background: rgb(240, 242, 252);
}  


.save_btn a{
    text-decoration: none;
    color: black;
}

.sub_content{
    margin: 30px 50px;
}

.sub_content .sub_options_container{
    margin-top: 20px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sub_options_container .sub_option{
    width: 80%;
    text-align: center; 
    padding: 5px; 
    border-radius: 5px;
}

.sub_options_container .sub_option:hover{
    background: rgb(240, 242, 252);
}

.sub_options_container .sub_option .option_content{

    padding: 5px;
    font-size: 14px;
}


.sub_options_container .sub_option a{
    text-decoration: none;
    color: black;
}

.sub_content .sub_content_display{
    padding: 15px;
    border-radius: 25px;
    position: relative;
    margin: 20px 0;
    width: 80%;
    height: 150px;
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
}

.sub_content .sub_content_display .display_options{
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 15%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.sub_content .sub_content_display .display_options:hover{
    background: rgb(240, 242, 252);
}


.display_options a{
    text-decoration: none;
    color: black;
}
