body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

*{
    font-family: 14px/1.5 "FZZhongDengXian-Z06S",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
}


.tool_bar{
    right:0;
    top: 0;
    position:fixed;
    height: 100%;
    width: 13%;
    background-color: white;
    z-index: 50;
    /* box-shadow: 0 20px 40px 0 rgba(233, 233, 233, 0.3), 0 20px 40px 0 rgba(233, 233, 233, 0.4); */
}

.tool_bar::-webkit-scrollbar {
    display: none;
}

.tool_bar .toolbar_title{
    width: 80%;
    margin: 20px 15px;
    cursor: default;
    text-align: center;
}

.tool_bar .history_result{
    padding-top: 10px;
    margin: 10px 10px;
    width: 80%;
    height: 50%;
    border-top: 2px solid rgb(97, 116, 139);
    /* border-bottom:  2px solid rgb(97, 116, 139); */
    overflow: scroll;
    position: relative;
    z-index: 80;
}

.tool_bar .history_result::-webkit-scrollbar {
    display: none;
}

.history_result .history{
    margin-left: 4%;
    position: relative;
    margin-top: 10px;
    width: 85%;
    min-height: 30px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    line-height: 26px;
    z-index: 90;
    /* box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1); */
}


.history_result .history:hover{
    background: rgb(240, 242, 252);
}

.history .history_content{
    width: 100%;
    min-height: 26px;
    text-align: center;
    font-weight: bold;
}

.history .history_content a{
    text-decoration: none;
    color: black;
}


.history .myProgress {
    /* border-radius: 20px; */
    height: 3px;
    width: 100%;
    background-color: white;
}

.history .myBar {
    /* border-radius: 20px; */
    /* width: 90%; */
    height: 3px;
    /* background-color: rgb(34, 133, 179); */
}

.history .searchtip{
    position: fixed;
    top: 95px;
    right: 210px;
    width: 180px;
    height: 30px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.history .searchtip::before {
    position: absolute;
    top: 3px;
    left: 173px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(26,39,60);
    border-top: 12px solid transparent;
}

.history:hover .searchtip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    opacity: 1;
}

.tool_bar .savebar_title{
    width: 80%;
    margin: 20px 15px;
    cursor: default;
    text-align: center;
}

.tool_bar .save_container{
    padding-top: 10px;
    margin: 10px 10px;
    width: 80%;
    height: 30%;
    border-top: 2px solid rgb(97, 116, 139);
    /* border-bottom:  2px solid rgb(97, 116, 139); */
    overflow: scroll;
    align-items: center;
}

.tool_bar .save_container::-webkit-scrollbar {
    display: none;
}


.save_container .save_history{
    margin: 20px 10%;
    position: relative;
    margin-top: 10px;
    width: 75%;
    min-height: 30px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
}

.save_history .save_content{
    width: 100%;
    min-height: 26px;
    text-align: center;
    font-weight: bold;
}

.save_content a{
    text-decoration: none;
    color: black;
}

.guide{
    margin-right: 10px;
    margin-left: 10px;
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.guide .title_content {
    margin-top: 20px;
    height: 10%;
}

.guide .modules_container{
    margin-top: 40px;
    height: 410px;
}

.title{
    width: 88%;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.title:hover{
    background-color: rgb(228, 228, 228);
}

.title a{
    width: 88%;
    text-decoration: none;
    color: black;
}

.title .title_name{
    font-size: 14px;
    font-weight: 400;
}


.title i{
    font-size: 20px;
    margin-right: 5px;
}

.guide ul{
    list-style: none;
    position: relative;
    margin-left: -38px;
    height: 48%;
    font-size: 14px;
}

.guide ul li{
    position: relative;
    list-style: none;
    line-height: 20px;
    cursor: pointer;
}

ul li .guide_btn{   
    width: 88%;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

ul li .guide_btn:hover{
    background-color: rgb(228, 228, 228);
}

.guide_btn a{
    text-decoration: none;
    color: black;
}

.guide_btn i{
    font-weight: 100px;
    font-size: 20px;
}

.guide .page_des{
    
    border-top: 1px dashed grey;
    width: 95%;
    bottom: 20px;
    font-size: 12px;
    padding-left: 10px;
    cursor: default;
}

/* .page_des div{
    height: 24px;
} */

ul li .function_btn{
    width: 98%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

ul li .function_btn:hover{
    background-color: rgb(228, 228, 228);
}

.function_btn a{
    text-decoration: none;
    color: #000;
}



.guide ul li .tooltip{
    position: absolute;
    top:-10px;
    left: 224px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.guide ul li .tooltip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.guide ul li:hover .tooltip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    top: -10px;
    left: 224px;
    opacity: 1;
}

@keyframes pop {
    from{
        background-color: transparent;
    }
    to{
        background-color: rgb(26,39,60);
    }
}

.phase_container{
    width: 78%;
    margin-top: 5px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
}

.phase_container:hover{
    background-color: rgb(228, 228, 228);
}

.picked{
    background-color: rgb(228, 228, 228);
}

.phases a{
    text-decoration: none;
    color: black;
}

.phase_container{
    position: relative;
    list-style: none;
    line-height: 30px;
}

.phases .phase_container .phasetip{
    position: absolute;
    left: 224px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.phases .phase_container .phasetip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.phases .phase_container:hover .phasetip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    left: 224px;
    top: -10px;
    opacity: 1;
}

.home_content{
    top: 20px;
    left: 17%;
    position: absolute;
    background-color: white;
    overflow: scroll;
    height: 85%;
    border-radius: 2px;
    box-shadow: -4px -4px 15px rgba(50, 50, 50, 0.1), 4px 4px 15px rgba(50, 50, 50, 0.1);
    padding-top: 30px;
    padding-bottom: 50px;
    width: 68%;
    z-index: 1;
}
.home_content::-webkit-scrollbar {
    display: none;
}


.home_content .ads_container{
    height: 130px;
    width: 850px;
    margin-left: 70px;
    margin-top: 10px;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.advImg{
    margin-top: 20px;
    margin-left: 20px;
    width: 800px;
}


.filter_btn_content .filter_option{
    width: 50px;
    align-content: center;
}

.filter_option .options{
    border: none;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
    border-radius: 5px;
    height: 30px;
    width: 50px;
    margin: 5px;
    margin-top: -30px;
}

.filter_option .options:hover{
    background: rgba(185, 185, 185, 0.5);
}

.checked{
    background: rgb(230, 206, 177);
    transition: all 0.4s ease;
}

.search_container{
    margin: 70px 60px;
    padding-left: 30px;
    border-left: 5px solid rgb(230, 206, 177);
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}



.breaker{
    border-bottom: 1px dashed rgb(190, 190, 190);
}

.search_container .filter_container{
    width: 500px;
    line-height: 30px;
}

.filter_container .dimension{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.result_output .label_content{
    margin-top: 50px;
    width: 560px;
    height: 100px;
    min-height: 70px;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
    font-size: 1;
    font-size: 14px;
    z-index: 99;
    padding: 2px;
}


.filter_container .filter_content{
    width: 200px; 
    min-width: 200px;  
}

.filter_content select{
    border: none;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
    height: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
}

.filter_container .key_content{
    width: 330px;
    min-width: 300px;
}

.key_content input{
    border: none;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.key_content input:focus{
    outline: grey;
}

.filter_btn_content .filter_btn{
    background: rgb(230, 206, 177);
    width: 60px;
    height: 30px;
    margin: 20px 100px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.filter_btn_content .filter_btn:hover{
    background: rgb(176, 198, 199);
}


.search_btn_content .search_btn{
    background: rgb(230, 206, 177);
    width: 60px;
    height: 30px;
    margin: 20px 100px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search_btn_content .search_btn:hover{
    background: rgb(176, 198, 199);
    transition: .3s ease-in-out;
}


.label_content .search_label{
    width: 93%;
    height: 100%;
    padding-left: 10px;
}


.label_content .clear_btn{
    font-size: 25px;
    margin-left: 95%;
    margin-top: -65px;
    cursor: pointer;
    position: relative;
}

.clear_btn  .bx-x{ 
    color: grey;
    transition: .3s; 
}

.label_content .save_btn{
    padding: 3px ;
    width: 28px;
    height: 28px;
    font-size: 20px;
    margin-left: 95%;
    color: grey;
    cursor: pointer;
    position: relative;
}

.label_content .save_btn:hover{
    border-radius: 5px;
    /* background: rgb(240, 249, 255); */
    color: rgb(101, 130, 228);
}


.clear_btn  .bx-x:hover{
    transform: rotate(90deg); 
    color: red;  
}



/*  */

.result_container{
    border-left: 5px solid rgb(176, 198, 199);
    margin: 50px 60px;
    padding-left: 30px;
}

.result_container .result_info{
    margin-bottom: 20px;
    margin-left: 100px;
    color: rgb(129, 136, 145);
    cursor: default;
}

.result_container .result_content{
    width: 90%;
    margin-bottom: 20px;
    
}

.suggest_section .recommand{
    font-size: 12px;
    padding: 5px;
    align-content: center;
    margin-left: 20px;
    width: 150%;
    height: 30px;
    border-radius: 5px;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
    cursor: default;
}


.save_section .save_item{
    text-align: center;
    float: right;
    margin-right: 50px;
    margin-top: 8px;
    padding: 3px ;
    color: white;
    background: rgb(176, 198, 199);
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save_section .save_item:hover{
    
    background: rgb(230, 206, 177);
}

.result_content .result{
    align-items: center;
    padding: 5px;
    align-content: center;
    min-height: 40px;
    border-radius: 2px;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
}

.result .more_content{
    height: auto;
    min-height: 60px;
    margin: 5px 5px;
    font-size: 12px;
    position: relative;
    cursor: default;
}

.result .result_title{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
}

.suggest_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.suggest_section .section{
    margin-left: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: -4px -4px 15px rgba(50, 50, 50, 0.1), 4px 4px 15px rgba(50, 50, 50, 0.1);
}

.section_content{
    margin-top: 20px;
    width: 97%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* opacity: 0; */
}

.section_content .section{
    padding: 8px;
    width: 80%;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20px;
    box-shadow: -4px -4px 15px rgba(50, 50, 50, 0.1), 4px 4px 15px rgba(50, 50, 50, 0.1);
    cursor:default;
}

.section_content .section a{
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.reference_content{
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: default;
}

.reference_content .reference_title{
    font-size: 12px;
}

.reference_content .reference{
    font-size: 10px;
}

.more_content details{
    height: auto;
    overflow: hidden;
    transition: max-height ease-in-out;
    transition-duration: var(--duration, 0.1s);
}

.more_content details > summary {
    position: absolute;
    bottom: 0;
    right: 10px;
    list-style-type: none;
    font-size: 12px;
    cursor: pointer;
    padding-left: 10px;
}

.more_content details > summary:hover{
    text-decoration: underline;
}

/* details > summary {
    list-style-type: none;
    cursor: pointer;
    
    margin-left: 48%;
} */
details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '了解更多';
}

details[open] > summary::before {
    content: '收起';
}

details p{
    font-size: 12px;
    /* padding: 5px; */
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 40px;
    cursor: default;
}

.dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}