body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

*{
    font-family: 14px/1.5 "FZZhongDengXian-Z06S",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
}

.tool_bar{
    right:0;
    top: 100px;
    position:fixed;
    height: 100%;
    width: 13%;
    background-color: white;
    /* box-shadow: 0 20px 40px 0 rgba(233, 233, 233, 0.3), 0 20px 40px 0 rgba(233, 233, 233, 0.4); */
}

.tool_bar .toolbar_title{
    margin: 20px 13px;
    font-size: 14px;
    text-align: start;
    cursor: default;
}

.tool_bar .recent_result{
    margin-left: 20px;
    margin-right: 10px;
    width: 80%;
    border-top: 2px solid #E6CEB1;
    margin-bottom: 30%;
}

.recent_result .recent{
    /* margin: 10px 10px;
    border-radius: 3px;
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    width: 80%;
    text-align: center;
    font-size: 13px; */
    margin-top: 15px;
    margin-left: 10px;
    padding-left:8px;
    padding-top: 8px;
    box-shadow: -4px -4px 15px rgba(100, 100, 100, 0.1), 4px 4px 15px rgba(100, 100, 100, 0.1);
    width: 80%;
    height: 22px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.recent_result .recent:hover{
    background: rgb(240, 242, 252);
}

.recent_result .recent a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
    height: 100%;
}

.tool_bar .history_result{
    margin-left: 20px;
    margin-right: 10px;
    width: 80%;
    border-top: 2px solid rgb(176, 198, 199);
    margin-bottom: 80%;
}

.tool_bar .history_result a{
    margin: 20px 5%;
    /* line-height: 14px; */
    
    font-size: 13px;
    text-decoration: none;
    color: grey;
}



.history_result a .history_content{
    margin-left: 10px;
    padding-left:8px;
    padding-top: 8px;
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    width: 80%;
    height: 25px;
    border-radius: 3px;

}

.tool_bar .history_result a:hover .history_content{
    background: rgb(240, 242, 252);
}


/* .history .history_content a{
    text-decoration: none;
    color: black;
} */

.guide{
    margin-right: 10px;
    margin-left: 10px;
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.guide .title_content {
    margin-top: 20px;
    height: 10%;
}

.guide .modules_container{
    margin-top: 40px;
    height:52%;
}

.title{
    width: 88%;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.title:hover{
    background-color: rgb(228, 228, 228);
}

.title a{
    width: 88%;
    text-decoration: none;
    color: black;
}

.title .title_name{
    font-size: 14px;
    font-weight: 400;
}


.title i{
    font-size: 20px;
    margin-right: 5px;
}

.guide ul{
    list-style: none;
    position: relative;
    margin-left: -38px;
    height: 48%;
    font-size: 14px;
}

.guide ul li{
    position: relative;
    list-style: none;
    line-height: 20px;
}

ul li .guide_btn{   
    width: 88%;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

ul li .guide_btn:hover{
    background-color: rgb(228, 228, 228);
}

.guide_btn a{
    text-decoration: none;
    color: black;
}

.guide_btn i{
    font-weight: 100px;
    font-size: 20px;
}

.guide .page_des{
    position: absolute;
    border-top: 1px dashed grey;
    width: 95%;
    height: calc(42%-100px);
    font-size: 12px;
    bottom: 20px;
    padding-left: 10px;
    cursor:default;
}

ul li .function_btn{
    width: 98%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

ul li .function_btn:hover{
    background-color: rgb(228, 228, 228);
}


.function_btn a{
    text-decoration: none;
    color: #000;
}

.phase_container{
    /* background-color: red; */
    width: 78%;
    margin-top: 5px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
}

.phase_container:hover{
    background-color: rgb(228, 228, 228);
}

.picked{
    background-color: rgb(228, 228, 228);
}

.phases a{
    text-decoration: none;
    color: black;
}


.guide ul li .tooltip{
    position: absolute;
    top:-10px;
    left: 224px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.guide ul li .tooltip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.guide ul li:hover .tooltip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    top: -10px;
    left: 224px;
    opacity: 1;
}

@keyframes pop {
    from{
        background-color: transparent;
    }
    to{
        background-color: rgb(26,39,60);
    }
}


.phase_container{
    position: relative;
    list-style: none;
    line-height: 30px;
}

.phases .phase_container .phasetip{
    position: absolute;
    left: 224px;
    top: -10px;
    width: 200px;
    height: 60px;
    color: white;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(26,39,60);
    font-size: 13px;
    transition: 0s;
    animation: .3s linear pop 1;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.phases .phase_container .phasetip::before {
    position: absolute;
    top: 18px;
    left: -17px;
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid rgb(26,39,60);
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
}

.phases .phase_container:hover .phasetip{
    transition: all 0.5s ease;
    transition-delay: 1s;
    left: 224px;
    top: -10px;
    opacity: 1;
}

.home_content{
    top: 20px;
    left: 17%;
    position: absolute;
    background-color: white;
    overflow: scroll;
    height: 85%;
    border-radius: 2px;
    box-shadow: -4px -4px 15px rgba(50, 50, 50, 0.1), 4px 4px 15px rgba(50, 50, 50, 0.1);
    padding-top: 30px;
    padding-bottom: 50px;
    width: 68%;
    z-index: 1;
}

.home_content::-webkit-scrollbar {
    display: none;
}

.home_content .ads_container{
    height: 130px;
    width: 850px;
    margin-left: 70px;
    margin-top: 10px;
    box-shadow:  -4px -4px 15px rgba(185, 185, 185, 0.3), 4px 4px 15px rgba(185, 185, 185, 0.19);
}

.advImg{
    margin-top: 20px;
    margin-left: 20px;
    width: 800px;
}


.home_content .edit_container{
    margin-top: 50px;
    

}

.edit_container .edit_content{  
    padding-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.edit_container .part2_title{
    margin: 20px 50px;
    border-top: 1px dashed rgb(190, 190, 190);
    padding: 10px;
    color: grey;
    cursor: default;
}

.edit_container .part1_title{
    margin: 20px 50px;
    padding: 10px;
    color: grey;
    cursor: default;
}


.edit_content .edit_title{
    width: 88%;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.edit_content .output_container{
    font-size: 14px;
    width: 88%;
}

.edit_content .standard_container{
    font-size: 14px;
    width: 88%;
}

/* .output_container .output_title{
    padding: 10px;
} */

.output_container .output_content{
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    padding: 10px;   
    margin-top: 20px; 
    height: 70px;
}

.output_content input{
    width: 90%;
    height: 80%;
    padding-left: 5px;
    border: none;
    outline: none;
}
.output_content input::placeholder{
    color: rgb(200, 200, 200);
    font-weight: 100;
}

/* .output_content textarea{
    width: 100%;
    resize: none;
    height: 100px;
    border: none;
    font-size: 14px;
} */

.output_content .output_savebtn{

    border: none;
    background: rgb(176, 198, 199);
    color: white;
    border-radius: 5px;
    margin-left: 80%;
}

.output_content .output_savebtn:hover{
    background: rgb(230, 206, 177);
}

.standard_container .standard_content{
    box-shadow: -4px -4px 15px rgba(185, 185, 185, 0.1), 4px 4px 15px rgba(185, 185, 185, 0.1);
    padding: 10px;
    margin-top: 20px;
}

.standard_content span{
    cursor: default;
}

.more_content details{
    padding: 2px;
    height: auto;
    overflow: hidden;
    transition: max-height ease-in-out;
    transition-duration: var(--duration, 0.1s);
    
}

details summary {
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

details summary p{
    font-size: 14px;
    padding: 2px;
}
.save_btn_container{
    margin-top: 20px;
    margin-left: 20%;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.save_btn{
    width: 100%;
    border-bottom: 2px solid rgb(87, 191, 145);
    text-align: center;
    font-size: 14px;
}

.save_btn_container:hover{
    background: rgb(240, 242, 252);
}  


.save_btn a{
    text-decoration: none;
    color: black;
}

.dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}